@import "tailwindcss";

:root {
	--background: #f0f4f6; /* Cloud Stone */
	--accent: #4682b4; /* Steel Blue */
	--text-primary: #1f2527; /* Slate Black */
	--text-secondary: #6b7880; /* Dusty Gray */
	--card: #a8b4bc; /* Light Granite */
	--subtle: #5a6a73; /* Steel Shadow */
	--accent-dark: #3a6b99; /* Deep Steel */
}

body {
	background-color: var(--background);
	color: var(--text-primary);
}

.bg-background {
	background-color: var(--background);
}
.text-accent {
	color: var(--accent);
}
.bg-card {
	background-color: var(--card);
}
.text-primary {
	color: var(--text-primary);
}
.text-secondary {
	color: var(--text-secondary);
}
.border-accent {
	border-color: var(--accent);
}
.bg-subtle {
	background-color: var(--subtle);
}
.bg-accent {
	background-color: var(--accent);
}
.bg-accent-dark {
	background-color: var(--accent-dark);
}
.font-playfair-display {
	font-family: "Playfair Display", serif;
}

select,
input,
button {
	background-color: var(--card);
	color: var(--text-primary);
}

select:focus,
input:focus,
button:focus {
	outline: none;
	box-shadow: 0 0 0 2px var(--accent);
}
